<html>
	<head>
		<title>CZ4031 - Project 2</title>

		<link href="https://fonts.googleapis.com/css?family=Open+sans|Roboto+Slab" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/style.css">

	</head>
	<body>
		<h1>CZ4031 - Project 2</h1>
		<p>
			<h3>Group Members</h3>
			<ul>
				<li>Jeffrey</li>
				<li>Marc Poh</li>
				<li>Marcia Ong</li>
				<li>Natassa Karinka</li>
			</ul>
        </p>

        <a href="/">
            <button class="mainInput">
                Back
            </button>
        </a>
        

	</body>
</html>

