<html>

<head>
	<title>CZ4031 - Project 2</title>

	<script src="../static/jquery.min.js"></script>
	<script src="../static/bootstrap.js"></script>
	<link href="../static/font.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="../static/custom.css">

</head>

<body>

	<!-- Content here -->
	<div class="typewriter">
		<h1>CZ4031 Database- Project 2</h1>
	</div>

	<p>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" href="/query">Query</a>
					<a class="nav-item nav-link" href="/plan">Plan</a>
					<a class="nav-item nav-link" href="/settings">Settings</a>
				</div>
			</div>
		</nav>
	</p>
	<!-- <p>Welcome to Project 2 Homepage</p> -->
	<p>
		<h2>Instructions</h2>
		<ul style="font-size: 22px;">
			<li>Query : visualize query plan using query as input (requires database connection)</li>
			<li>Plan : visualize query plan using plan as input</li>
			<li>Settings : change database connection</li>
		</ul>
	</p>
	<p>
		<h2>Group Members</h2>
		<hr class="my-4" style="margin-top: 5px !important; margin-bottom: 5px !important;">
	</p>
	<ul class="list-unstyled">
		<li class="media" style=" float: left;	width: 400;">
			<img class="mr-3" src="../static/marcia.jpg" style="    width: 150px; height: 155px;" alt="Generic placeholder image">
			<div class="media-body">
				<h5 class="mt-0 mb-1">Marcia Ong</h5>
				U1622511F
				marc0044@e.ntu.edg.sg
			</div>
		</li>
		<li class="media">
			<img class="mr-3" src="../static/jeff.jpeg" style="   width: 150px; height: 155px;" alt="Generic placeholder image">
			<div class="media-body">
				<h5 class="mt-0 mb-1">Jeffrey</h5>
				U1620172K
				<div class="clearfix">J008@e.ntu.edu.sg</div>
			</div>
		</li>
		<div class="clearfix"></div>
		<p></p>
		<li class="media" style=" float: left;	width: 400;">
			<img class="mr-3" src="../static/natasa.jpeg" style="   width: 150px; height: 155px;" alt="Generic placeholder image">
			<div class="media-body">
				<h5 class="mt-0 mb-1">Natassa Karinka</h5>
				U1620138L
				Nkarinka001@e.ntu.edu.sg
			</div>
		</li>
		<li class="media" style=" float: left;	width: 400;">
			<img class="mr-3" src="../static/banhoe.jpg" style="    width: 150px; height: 155px;" alt="Generic placeholder image">
			<div class="media-body">
				<h5 class="mt-0 mb-1">Poh Ban Hoe</h5>
				U1622230K
				pohb006@e.ntu.edg.sg
			</div>
		</li>
	</ul>



</body>

</html>