<html>
	<head>
		<title>CZ4031 - Project 2</title>

		<link href="https://fonts.googleapis.com/css?family=Open+sans|Roboto+Slab" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/style.css">

	</head>
	<body>
		<h1>CZ4031 - Project 2</h1>
		<p>
			Welcome to Project 2 Homepage
		</p>
		<p>
			<a href="/query">
				<button class="mainInput">
					Query Visualizer
				</button>
			</a>
			<a href="/plan">
				<button class="mainInput">
					Plan Visualizer
				</button>
			</a>
			<a href="/credits">
				<button class="mainInput">
					Credits
				</button>
			</a>
		</p>
	</body>
</html>

