<html>
	<head>
		<title>CZ4031 - Project 2</title>

		<script src="../static/jquery.min.js"></script>
		<script src="../static/bootstrap.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+sans|Roboto+Slab" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body>
		<h1>CZ4031 - Project 2</h1>
		<p>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
							<a class="nav-item nav-link" href="/query">Query</a>
							<a class="nav-item nav-link" href="/plan">Plan</a>
							<a class="nav-item nav-link" href="/settings">Settings</a>
						</div>
					</div>
			</nav>
		</p>
		<p>Welcome to Project 2 Homepage</p>
		<p>
			<h2>Instructions</h2>
			<ul>
				<li>Query : visualize query plan using query as input</li>
				<li>Plan : visualize query plan using plan as input</li>
				<li>Settings : change database connection</li>
			</ul>
		</p>
		<p>
			<h2>Group Members</h2>
			<ul>
				<li>Jeffrey</li>
				<li>Marcia Ong Wen Jie</li>
				<li>Natassa Karinka</li>
				<li>Poh Ban Hoe</li>
			</ul>
		</p>
	</body>
</html>

