<html>

<head>
	<title>Plan Visualizer</title>
	<script src="../static/jquery.min.js"></script>
	<script src="../static/bootstrap.js"></script>
	<script src="../static/main.js"></script>
	<script type="text/javascript" src="../static/vis.js"></script>

	<link href="../static/vis-network.css" rel="stylesheet" type="text/css" />
	<link href="../static/font.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="../static/custom.css">

	<script>
		function formatData(type) {
			const plan = document.getElementById("plan").value;
			const payload = { type, data: { plan } };
			handleSubmit(payload);
		}
		function giveSample() {
			var sample =
			{
				"Plan": {
					"Node Type": "Hash Join",
					"Parallel Aware": false,
					"Join Type": "Inner",
					"Startup Cost": 1.54,
					"Total Cost": 5657.03,
					"Plan Rows": 143999,
					"Plan Width": 600,
					"Actual Startup Time": 0.27,
					"Actual Total Time": 369.85,
					"Actual Rows": 144074,
					"Actual Loops": 1,
					"Inner Unique": true,
					"Hash Cond": "(c.c_nationkey = n.n_nationkey)",
					"Plans": [
						{
							"Node Type": "Seq Scan",
							"Parent Relationship": "Outer",
							"Parallel Aware": false,
							"Relation Name": "customer",
							"Alias": "c",
							"Startup Cost": 0,
							"Total Cost": 5194.99,
							"Plan Rows": 149999,
							"Plan Width": 162,
							"Actual Startup Time": 0.043,
							"Actual Total Time": 110.056,
							"Actual Rows": 149999,
							"Actual Loops": 1
						},
						{
							"Node Type": "Hash",
							"Parent Relationship": "Inner",
							"Parallel Aware": false,
							"Startup Cost": 1.24,
							"Total Cost": 1.24,
							"Plan Rows": 24,
							"Plan Width": 438,
							"Actual Startup Time": 0.091,
							"Actual Total Time": 0.091,
							"Actual Rows": 24,
							"Actual Loops": 1,
							"Hash Buckets": 1024,
							"Original Hash Buckets": 1024,
							"Hash Batches": 1,
							"Original Hash Batches": 1,
							"Peak Memory Usage": 12,
							"Plans": [
								{
									"Node Type": "Seq Scan",
									"Parent Relationship": "Outer",
									"Parallel Aware": false,
									"Relation Name": "nation",
									"Alias": "n",
									"Startup Cost": 0,
									"Total Cost": 1.24,
									"Plan Rows": 24,
									"Plan Width": 438,
									"Actual Startup Time": 0.025,
									"Actual Total Time": 0.036,
									"Actual Rows": 24,
									"Actual Loops": 1
								}
							]
						}
					]
				},
				"Planning Time": 5.073,
				"Triggers": [],
				"Execution Time": 384.985
			}
				;
			sample = JSON.stringify(sample);
			document.getElementById("plan").value = sample;
		}
	</script>
		<style type="text/css">
		#graph {
			width: 2400px;
			height: 800px;
			border: 1px solid lightgray;
		}

		#legend {
			width: 1600px;
			height: 175px;
			border: 1px solid lightgray;
		}
	</style>
</head>

<body>
	<div>
		<div class="typewriter">
			<h1>CZ4031 Database- Project 2</h1>
		</div>
		<p>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="/">Home </a>
						<a class="nav-item nav-link" href="/query">Query</a>
						<a class="nav-item nav-link  active" href="/plan">Plan <span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="/settings">Settings</a>
					</div>
				</div>
			</nav>
		</p>
		<h2>Plan Visualizer</h2>
		<hr class="my-4" style="margin-top: 5px !important; margin-bottom: 5px !important;">
		<h3>Plan</h3>
		<div>
			<textarea placeholder="Input your QEP here" id="plan" rows="30" cols="100"></textarea>
		</div>
		<button type="button" class="btn btn-outline-dark mainInput" onclick="giveSample()">Sample</button>
		<button type="button" class="btn btn-outline-dark mainInput" onclick="formatData(2)">Visualize</button>
		<div id="highlight"></div>
		
		<div class="container" style="padding-left: 0px;margin-left: 0px;max-width: none;max-height: none;">
				<h3>
					<div class="col-sm-8" id="gtitle"> Graph</div>
				</h3>
				<div id="legend"style="padding-left: 0px;margin-left: 0px;max-width: none;max-height: none;min-height: 300px;min-length : 1080px"></div>
				<div class="container" style="padding-left: 0px;margin-left: 0px;max-width: none;max-height: none;min-height: 1080px">
					<div class="row" style="min-height:inherit; min-width:inherit">
						
						<div class="col-sm-8" id="graph"></div>
						<div class="col-sm-4 table table-responsive" id="nodetext"></div>
					</div>
				</div>
	
			</div>
	</div>