html {
	font-size: 16px;
}
body {
	font-family: "Open Sans", sans-serif;
	color: #333333;
	background-color: #eff1f9;
	padding: 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab", serif;
	color: #4a6da9;
}

button {
	cursor: pointer;
}

.mainInput {
	padding: 10px;
	border-radius: 10px;
	background-color: #1c9bcc;
	color: #FFFFFF;
	font-size: 20px;
	margin: 20px;
}

.command {
	padding: 10px;
	border-radius: 5px ;
	background-color: #1c9bcc;
	color: #FFFFFF;
	margin: 5px;
	margin-left: 0px;
}
